img.card-img-top{
    max-height: 200px;
    object-fit: contain;
}

.card-body .card-text{
    height: 200px;
    overflow-y: scroll;
}

.single_game_img{
    max-height: 60vh;
    object-fit: contain;
}